.App {
  text-align: center;
}
.navbar {
  background: rgba(245, 242, 242, 0.6);   
}

body, html {
  height: 100%;
}
  
.bg {
  background-image: url("assets/images/Background.jpg");
  background-color: gainsboro;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.Footer {
  background: rgba(245, 242, 242, 0.6);
  color:rgb(165, 151, 151);
  font-size: 14px;
}
