.App {
  text-align: center;
}
.navbar {
  background: rgba(245, 242, 242, 0.6);   
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url("assets/images/Background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
