.App {
  text-align: center;
}
.navbar {
  background: rgba(225, 217, 217, 0.35);   
}

body, html {
  height: 100%;
}
  
.bg {
  background-image: url("assets/images/Background.jpg");
  background-color: gainsboro;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}


.Footer {
  background: rgba(245, 242, 242, 0.35);
  color:rgb(165, 151, 151);
  font-size: 14px;
}

.email{
  color:rgb(230, 209, 209);
  background-color:rgba(149, 108, 160, 0.6);
}
